// COLORS

$color-primary: #eda58b;
$color-primary-light: #f2bb9b;
$color-primary-dark: #fbccb2;

$color-secondary-light: #9eb5a8;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-orange-dark-2: #ff7f4f;

$color-grey-dark: #6e7a73;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;